if ! has direnv_load_flake; then
    use flake
else
    use flake .#default
fi

watch_file Cargo.lock

if [ -f "../.envrc.workspace" ]; then
    source "../.envrc.workspace"
fi

if [ -f ".envrc.local" ]; then
    source ".envrc.local"
fi
