repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=2000"]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.rs$
        args:
          - --comment-style
          - //
          - --fuzzy-match-generates-todo
          - --license-filepath
          - .license-header.txt
          - --use-current-year

  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        language: system
        types: [rust]
        args:
          [
            "--no-deps",
            "--all-targets",
            "--all-features",
            "--offline",
            "--",
            "-D",
            "warnings",
          ]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt
        language: system
        types: [rust]
        args: ["--check"]
        pass_filenames: false
